{% load static %}
{% block head %}
<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>İstifadəçi profili</title>


</head>
<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}

</style>
<body>
<header>

    <div class="header-top">

        <div class="container">

            <ul class="header-social-container">

                <li>
                    <a class="social-link" href="https://www.facebook.com/{{ setting.facebook }}">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.twitter.com/{{ setting.twitter}}">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.instagram.com/{{ setting.instagram }}">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.linkedin.com/{{ setting.linkedin }}">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

            <div class="header-alert-news">
                <p>
                    <b>{{ setting.keywords }}</b>

                </p>
            </div>

            <div class="header-top-actions">


                <select name="currency">

                    <option value="usd">AZN ₼</option>

                </select>

                <select name="language">

                    <option value="en-US">Azərbaycanca</option>
                    <option value="es-ES">Rusca</option>


                </select>
                {% if user.id %}
                <a href="/logout/" class="action-btn">
                    <ion-icon class="actiongizle" name="log-out-outline"size="large" style="color: black"></ion-icon>
                </a>
                {% endif %}

            </div>

        </div>

    </div>



    <div class="header-main">

        <div class="container">

            <a class="header-logo" href="http://127.0.0.1:8000/">
                <img alt="Anon's logo"  style="height: 60px" src="{{ setting.logo.url }}" >
            </a>



            <form class="header-search-container" action="/search/" method="post">
                {% csrf_token %}

                <input id="query" class="search-field" name="query" placeholder="Axtardığınız məhsulu daxil edin..." type="search" autocomplete="off">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </form>
            {% if user.id is not None %}
            <div class="header-user-actions">




                <button class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">0</span>
                </button>

                <a href="http://127.0.0.1:8000/shopcart" class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">{{ request.session.cart_items }}</span>
                </a>


            </div>
            {% else %}
             <a href="/login/" class="action-btn">
                 <ion-icon class="actiongizle" name="log-in-outline" size="large" style="color:  black"></ion-icon>
             </a>
            {% endif %}

        </div>

    </div>



    <div class="mobile-bottom-navigation">

        <a href="http://127.0.0.1:8000/" class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </a>

        <a href="/logout/" class="action-btn">
            <ion-icon  name="log-in-outline" size="large" ></ion-icon>
        </a>




    </div>

     <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="{% url 'anasayfa' %}" class="menu-title">Home</a>
        </li>
        {% load mptt_tags %}
        {% recursetree category %}
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">{{ node.title }}</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>
          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="/category/{{ node.id }}/{{node.slug}}" class="submenu-title">{{ children }}</a>
            </li>
          </ul>


        </li>
        {% endrecursetree %}






      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Dillər</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Espa&ntilde;ol</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Fren&ccedil;h</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Valyutalar</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">AZN ₼</a>
              </li>


            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="https://www.facebook.com/{{ setting.facebook }}" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.twitter.com/{{ setting.twitter}}" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/{{ setting.instagram }}" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/{{ setting.linkedin }}" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

</header>

<div class="container">
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{message.tags}}" data-mdb-color="{{message.tags}}" role="alert">
        <i class="fas fa-{{message.tags}}-circle me-3"></i>
        <span class="closebtn"
              onclick="this.parentElement.style.display='none';"
              style="margin-left: 60px;color: black;float: right;font-size: 35px;line-height: 20px;cursor: pointer;transition: 0.3s;}">&times;</span>
        {{ message }}

    </div>

    {% endfor %}
    {% endif %}
    </div>
<section class="mb-5">
		<div class="container">
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
					<div class="p-4">
						<div class="img-circle text-center mb-3">
							<img src="{{ profile.image.url }}" alt="Image" class="shadow">
						</div>
						<h4 class="text-center">{{ profile.user_name }} </h4>
					</div>
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link "  href="/user" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1"></i>
							Hesab
						</a>
                        <a class="nav-link active " href="/user/orders/"   role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-shopping-cart text-center mr-1"></i>
							Sifarişlərim
						</a>
                        <a class="nav-link " href="/user/comments/"   role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-commenting text-center mr-1"></i>
							Şərhlərim
						</a>
                        <a class="nav-link "href="/user/uptade/" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-user text-center mr-1"></i>
							Məlumatları yenilə
						</a>
						<a class="nav-link"   href="/user/password" role="tab" aria-controls="password" aria-selected="false">
							<i class="fa fa-key text-center mr-1"></i>
							Parolu dəyişdir
						</a>

						<a class="nav-link"   href="{% url 'logout' %}" role="tab" aria-controls="logout" aria-selected="false">
							<i class="fa fa-sign-out text-center mr-1"></i>
							Hesabdan çıx
						</a>
					</div>
				</div>
				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<form enctype="multipart/form-data" method="post" class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                      {% csrf_token %}
						<h3 class="mb-4">Sifariş siyahısı</h3>
						<div class="row">

                                <table class="table align-middle mb-0 bg-white">
                                    <thead class="bg-light">
                                    <tr>
                                        <th>Id</th>
                                        <th>Ad</th>
                                        <th>Zaman</th>
                                        <th>Status</th>
                                        <th>Toplam</th>
                                        <th>Detay</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>
                                            <p class="fw-bold mb-1 mr-3" >{{order.id}}</p>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">

                                                <div class="ms-3">
                                                    <p class="fw-bold mb-1">{{order.first_name}}</p>
                                                    <p class="text-muted mb-0">{{order.last_name}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="fw-normal mb-1">{{order.create_at}}</p>

                                        </td>
                                        <td>

                                            <span class="badge badge-success rounded-pill d-inline">{{order.status}}</span>

                                        </td>
                                        <td>{{order.total}}</td>
                                        <td>
                                            <button onclick="location.href='/user/orderdetail/{{order.id}}';" class="btn btn-outline-primary btn-sm btn-rounded" type="button">
                                                Edit
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            <div>
						</div>
						<div>


						</div>
					</form>




				</div>
			</div>
		</div>
	</section>





<footer>

    <div class="footer-category">


    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Popular Categories</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Fashion</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Electronic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Cosmetic</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Health</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Watches</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Products</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Contact us</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Our Company</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Delivery</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Legal Notice</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Terms and conditions</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'hakkimizda' %}" class="footer-nav-link">About us</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'referanslar' %}" class="footer-nav-link">Referces</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Secure payment</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Services</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Prices drop</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">New products</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Best sales</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'iletisim' %}" class="footer-nav-link">Contact us</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sitemap</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Contact</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
              {{ setting.adress }}
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+{{ setting.phone }}" class="footer-nav-link">{{ setting.phone }}</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:{{ setting.email }}" class="footer-nav-link">{{ setting.email }}</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="https://www.facebook.com/{{ setting.facebook }}" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.twitter.com/{{ setting.twitter}}" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.instagram.com/{{ setting.instagram }}" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.linkedin.com/{{ setting.linkedin }}" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="{% static 'images/payment.png'%}" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">{{setting.company}} |</a> Bütün hüquqlar qorunur.
        </p>

      </div>

    </div>
  </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

{% endblock %}