{% load static %}
{% block head %}
<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Sifariş formu</title>


</head>
<style>



.lh-condensed { line-height: 1.25; }
</style>
<body>
<header>


    <div class="header-top">

        <div class="container">

            <ul class="header-social-container">

                <li>
                    <a class="social-link" href="https://www.facebook.com/{{ setting.facebook }}/">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.twitter.com/{{ setting.twitter}}/">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.instagram.com/{{ setting.instagram }}/">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.linkedin.com/{{ setting.linkedin }}/">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

            <div class="header-alert-news">
                <p>
                    <b>{{ setting.keywords }}</b>

                </p>
            </div>

            <div class="header-top-actions">


                <select name="currency">

                    <option value="usd">AZN ₼</option>

                </select>

                <select name="language">

                    <option value="en-US">Azərbaycanca</option>
                    <option value="es-ES">Rusca</option>


                </select>
                {% if user.id %}
                <a href="/logout/" class="action-btn">
                    <ion-icon class="actiongizle" name="log-out-outline"size="large" style="color: black"></ion-icon>
                </a>
                {% endif %}

            </div>

        </div>

    </div>



    <div class="header-main">

        <div class="container">

            <a class="header-logo" href="/">
                <img alt="Anon's logo"  style="height: 60px" src="{{ setting.logo.url }}" >
            </a>



            <form class="header-search-container" action="/search/" method="post">
                {% csrf_token %}

                <input id="query" class="search-field" name="query" placeholder="Axtardığınız məhsulu daxil edin..." type="search" autocomplete="off">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </form>
            {% if user.id is not None %}
            <div class="header-user-actions">

                <a href="/user/" class="action-btn">
                    <ion-icon name="person-outline"></ion-icon>

                </a>


                <button class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">0</span>
                </button>

                <a href="/shopcart/" class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">{{ request.session.cart_items }}</span>
                </a>


            </div>
            {% else %}
             <a href="/login/" class="action-btn">
                 <ion-icon class="actiongizle" name="log-in-outline" size="large" style="color:  black"></ion-icon>
             </a>
            {% endif %}

        </div>

    </div>



    <div class="mobile-bottom-navigation">

        <a href="/" class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </a>






    </div>

     <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="{% url 'anasayfa' %}" class="menu-title">Home</a>
        </li>
        {% load mptt_tags %}
        {% recursetree category %}
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">{{ node.title }}</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>
          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="/category/{{ node.id }}/{{node.slug}}/" class="submenu-title">{{ children }}</a>
            </li>
          </ul>


        </li>
        {% endrecursetree %}






      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Dillər</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Русский</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Türkçe</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Valyutalar</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">AZN ₼</a>
              </li>


            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="https://www.facebook.com/{{ setting.facebook }}/" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.twitter.com/{{ setting.twitter}}/" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/{{ setting.instagram }}/" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/{{ setting.linkedin }}/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

</header>
<div class="container mb-5">
    <div class="py-5 text-center">
        <p class="lead">Məhsulları almaq üçün ilk öncə Adres formunu doldur. Daha sonra isə ödəniş methodunu seçərək kart məlumatlarını daxil et.Zəhmət olmasa formları doldurarkən səhvə yol verməyin. Əksi təqdirdə məhsullarınız çatdırılmayacaqdır.</p>
    </div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Sənin səbətin</span>
                <span class="badge badge-secondary badge-pill"></span>
            </h4>
            <ul class="list-group mb-3 sticky-top">
                {% for rs in shopcard %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{rs.product}}</h6>
                        <small class="text-muted">{{ rs.product.category }}</small>
                    </div>
                    <span class="text-muted">{{rs.amount}}₼</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Ümumi (AZN)</span>
                    <strong>{{total}} ₼</strong>
                </li>
            </ul>
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo kod">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Daxil et</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Adres əlavə et</h4>
            <form class="needs-validation" novalidate="" action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Ad</label>
                        <input type="text" name="first_name" class="form-control" id="firstName" placeholder="" value="{{ user.first_name }}" required="">
                        <div class="invalid-feedback"> Etibarlı ad tələb olunur. </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Soyad</label>
                        <input type="text" name="last_name" class="form-control" id="lastName" placeholder="" value="{{ user.last_name }}" required="">
                        <div class="invalid-feedback"> Etibarlı soyad tələb olunur. </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Adres</label>
                    <input type="text" name="address" class="form-control" id="address"  required="" value="{{ profile.adress }}">
                    <div class="invalid-feedback"> Zəhmət olmasa çatdırılma ünvanınızı daxil edin. </div>
                </div>
                <div class="mb-3">
                    <label for="phone">Telefon</label>
                    <input type="text" name="phone" class="form-control" id="phone"  required="" value="{{ profile.phone }}">
                    <div class="invalid-feedback"> Zəhmət olmasa telefon nömrənizi daxil edin.</div>
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Ölkə</label>
                        <select name="country" class="custom-select d-block w-100" id="country" required="" >

                            <option>{{ profile.country }}</option>
                        </select>
                        <div class="invalid-feedback"> Lütfən, etibarlı ölkə seçin. </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">Şəhər</label>
                        <select name="city" class="custom-select d-block w-100" id="state" required="">

                            <option>{{profile.city}}</option>
                        </select>
                        <div class="invalid-feedback"> Lütfən, etibarlı şəhər təqdim edin. </div>
                    </div>

                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Göndərmə ünvanı billinq ünvanımla eynidir</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Bu məlumatı növbəti dəfə istifadə etmək üçün saxlayın</label>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Ödəniş</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                        <label class="custom-control-label" for="credit">Kredit kart</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="debit">Debit kart</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Kart üzərindəki ad</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Kartda göstərildiyi kimi tam ad</small>
                        <div class="invalid-feedback">Kartdakı ad tələb olunur</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Kredit kartı nömrəsi</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback"> Kredit kartı nömrəsi tələb olunur</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">İstifadə müddəti</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                        <div class="invalid-feedback"> İstifadə müddəti tələb olunur </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback"> Təhlükəsizlik kodu tələb olunur</div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" >Yoxlamaya davam edin</button>
            </form>
        </div>
    </div>

</div>
<footer>

    <div class="footer-category">


    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Populyar Kateqoriyalar</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Moda</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Elektron</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Kosmetik</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sağlamlıq</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Saatlar</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Məhsullar</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Qiymətləri düşən</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Yeni məhsullar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Ən yaxşı satışlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Əlaqəyə</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Xəritə</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Bizim şirkət</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Çatdırılma</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Hüquqi Bildiriş</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Şərtlər və Qaydalar</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'hakkimizda' %}" class="footer-nav-link">Haqqımızda</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'referanslar' %}" class="footer-nav-link">İstinadlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Təhlükəsiz ödəniş</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Xidmətlər</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Qiymətləri düşənlər</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Yeni məhsullar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Ən yaxşı satışlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'iletisim' %}" class="footer-nav-link">Əlaqə</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Xəritə</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Əlaqə</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
              {{ setting.adress }}
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+{{ setting.phone }}" class="footer-nav-link">{{ setting.phone }}</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:{{ setting.email }}" class="footer-nav-link">{{ setting.email }}</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Bizi izlə</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="https://www.facebook.com/{{ setting.facebook }}" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.twitter.com/{{ setting.twitter}}" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.instagram.com/{{ setting.instagram }}" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.linkedin.com/{{ setting.linkedin }}" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="{% static 'images/payment.png' %}" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">{{setting.company}} |</a> Bütün hüquqlar qorunur.
        </p>

      </div>

    </div>

  </footer>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  window.addEventListener('load', function () {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation')

    // Loop over them and prevent submission
    Array.prototype.filter.call(forms, function (form) {
      form.addEventListener('submit', function (event) {
        if (form.checkValidity() === false) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
  }, false)
}())
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>

{% endblock %}