{% load static %}
{% block head %}
<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}

{% block content %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Səbət</title>

</head>
<style>
@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.h-custom {
height: 200vh !important;
}
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
</style>
<body>
<header>

    <div class="header-top">

        <div class="container">

            <ul class="header-social-container">

                <li>
                    <a class="social-link" href="https://www.facebook.com/{{ setting.facebook }}">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.twitter.com/{{ setting.twitter}}">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.instagram.com/{{ setting.instagram }}">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>

                <li>
                    <a class="social-link" href="https://www.linkedin.com/{{ setting.linkedin }}">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

            <div class="header-alert-news">
                <p>
                    <b>{{ setting.keywords }}</b>

                </p>
            </div>

            <div class="header-top-actions">


                <select name="currency">

                    <option value="usd">AZN ₼</option>

                </select>

                <select name="language">

                    <option value="en-US">Azərbaycanca</option>
                    <option value="es-ES">Rusca</option>


                </select>
                {% if user.id %}
                <a href="/logout/" class="action-btn">
                    <ion-icon class="actiongizle" name="log-out-outline"size="large" style="color: black"></ion-icon>
                </a>
                {% endif %}

            </div>

        </div>

    </div>



    <div class="header-main">

        <div class="container">

            <a class="header-logo" href="http://127.0.0.1:8000/">
                <img alt="Anon's logo"  style="height: 60px" src="{{ setting.logo.url }}" >
            </a>



            <form class="header-search-container" action="/search/" method="post">
                {% csrf_token %}

                <input id="query" class="search-field" name="query" placeholder="Axtardığınız məhsulu daxil edin..." type="search" autocomplete="off">

                <button class="search-btn">
                    <ion-icon name="search-outline"></ion-icon>
                </button>

            </form>
            {% if user.id is not None %}
            <div class="header-user-actions">

                <a href="/user" class="action-btn">
                    <ion-icon name="person-outline"></ion-icon>

                </a>


                <button class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">0</span>
                </button>

                <button class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">{{ request.session.cart_items }}</span>
                </button>


            </div>
            {% else %}
             <a href="/login/" class="action-btn">
                 <ion-icon class="actiongizle" name="log-in-outline" size="large" style="color:  black"></ion-icon>
             </a>
            {% endif %}

        </div>

    </div>



    <div class="mobile-bottom-navigation">

        <a href="http://127.0.0.1:8000/" class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </a>






    </div>

     <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="{% url 'anasayfa' %}" class="menu-title">Home</a>
        </li>
        {% load mptt_tags %}
        {% recursetree category %}
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title">{{ node.title }}</p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>
          <ul class="submenu-category-list" data-accordion>
            <li class="submenu-category">
              <a href="/category/{{ node.id }}/{{node.slug}}" class="submenu-title">{{ children }}</a>
            </li>
          </ul>


        </li>
        {% endrecursetree %}






      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Dillər</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>

              <li class="submenu-category">
                <a href="#" class="submenu-title">English</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Русский</a>
              </li>

              <li class="submenu-category">
                <a href="#" class="submenu-title">Türkçe</a>
              </li>

            </ul>

          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Valyutalar</p>
              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="#" class="submenu-title">AZN ₼</a>
              </li>


            </ul>
          </li>

        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="https://www.facebook.com/{{ setting.facebook }}" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.twitter.com/{{ setting.twitter}}" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/{{ setting.instagram }}" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/{{ setting.linkedin }}" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

</header>
<section class="h-100 h-custom " style="background-color: white;">
  <div class="container">
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-{{message.tags}}" data-mdb-color="{{message.tags}}" role="alert">
        <i class="fas fa-{{message.tags}}-circle me-3"></i>
        <span class="closebtn"
              onclick="this.parentElement.style.display='none';"
              style="margin-left: 60px;color: black;float: right;font-size: 35px;line-height: 20px;cursor: pointer;transition: 0.3s;}">&times;</span>
        {{ message }}

    </div>

    {% endfor %}
    {% endif %}
    </div>
  <div class="container py-5 h-100 ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Alış-veriş səbəti</h1>
                    <h6 class="mb-0 text-muted">{{ request.session.cart_items }} məhsul</h6>
                  </div>
                  <hr class="my-4">
                  {% for rs in shopcard %}
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{ rs.product.image.url }}"
                        class="img-fluid rounded-3 align-content-center" alt="Cotton T-shirt" >
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{ rs.product.category }}</h6>
                      <h6 class="text-black mb-0">{{ rs.product }}</h6>
                    </div>

                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input style="width: 80px" min="0" name="quantity" value="{{rs.quantity}}" type="number"
                        class="form-control form-control-sm" />

                      <button class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{rs.amount}} ₼ </h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="/order/deletefromcart/{{rs.id}}" onclick="return confirm('Bu məhsulu səbətdən silməyə əminsən?')" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">
                  {% endfor %}





                  <div class="pt-5">
                    <h6 class="mb-0"><a href="http://127.0.0.1:8000/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i> Alış-verişə dəvam et</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Xülasə</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">{{ request.session.cart_items }} məhsul</h5>
                    <h5>{{total}} ₼ </h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Çatdırılma</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Avropa ölkələrinə</option>
                      <option value="2">Paytaxt daxili</option>
                      <option value="3">Rayonlara</option>

                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Endirim kodu</h5>

                  <div class="mb-5">
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplea2">Kodu daxil et</label>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Toplam</h5>
                    <h5>{{total}} ₼ </h5>
                  </div>

                  <a style="color: white" href="/order/orderproduct" type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Ödəniş et</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<footer>

    <div class="footer-bottom">

      <div class="container">

        <img src="{% static 'images/payment.png'%}" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">{{setting.company}} |</a> Bütün hüquqlar qorunur.
        </p>

      </div>

    </div>
  </footer>
</html>

{% endblock %}