{% load static %}
<main>

    <!--
      - BANNER
    -->

    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="{% static 'images/banner-1.jpg' %}" alt="women's latest fashion sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trend məhsullar</p>

              <h2 class="banner-title">Qadın geyimlərində son sezon endirimləri</h2>

              <p class="banner-text">
                 20.00 ₼ -dan başlayan qiymətlərlə
              </p>

              <a href="#" class="banner-btn">Alış-verişə başla</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="{% static 'images/banner-2.jpg' %}" alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trend aksesuarlar</p>

              <h2 class="banner-title">Müasir gün eynəkləri</h2>

              <p class="banner-text">
                10.00 ₼ -dan başlayan qiymətlərlə
              </p>

              <a href="#" class="banner-btn">Alış-verişə başla</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="{% static 'images/banner-3.jpg' %}" alt="new fashion summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Satış Təklifi</p>

              <h2 class="banner-title">Yeni modaya uyğun yay geyimləri</h2>

              <p class="banner-text">
                20.00 ₼ -dan başlayan qiymətlərlə
              </p>

              <a href="#" class="banner-btn">Alış-verişə başla</a>

            </div>

          </div>

        </div>

      </div>

    </div>




