{% load static %}
<div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/dress.svg' %}" alt="dress & frock" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Don</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="http://127.0.0.1:8000/category/10/don/" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/coat.svg'%}" alt="winter wear" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Palto</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="http://127.0.0.1:8000/category/11/palto/" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/glasses.svg' %}" alt="glasses & lens" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Eynək və linza</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="http://127.0.0.1:8000/category/12/eynk-v-linza/" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/shorts.svg' %}" alt="shorts & jeans" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Şort və cins şalvar</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="http://127.0.0.1:8000/category/13/sort-v-cins-salvar/" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/tee.svg' %}" alt="t-shirts" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">T-shirts</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="#" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/jacket.svg' %}" alt="jacket" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Ceketler</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="#" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/watch.svg' %}" alt="watch" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Saatlar</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="#" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="{% static 'images/icons/hat.svg' %}" alt="hat & caps" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Şapka və papaqlar</h3>

                <p class="category-item-amount">(0)</p>
              </div>

              <a href="#" class="category-btn">Hamısını göstər</a>

            </div>

          </div>

        </div>

      </div>

    </div>




