{% load static %}
  <footer>

    <div class="footer-category">


    <div class="footer-nav">

      <div class="container">

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Populyar Kateqoriyalar</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Moda</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Elektron</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Kosmetik</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Sağlamlıq</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Saatlar</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Məhsullar</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Qiymətləri düşən</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Yeni məhsullar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Ən yaxşı satışlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Əlaqəyə</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Xəritə</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Bizim şirkət</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Çatdırılma</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Hüquqi Bildiriş</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Şərtlər və Qaydalar</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'hakkimizda' %}" class="footer-nav-link">Haqqımızda</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'referanslar' %}" class="footer-nav-link">İstinadlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Təhlükəsiz ödəniş</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Xidmətlər</h2>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Qiymətləri düşənlər</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Yeni məhsullar</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Ən yaxşı satışlar</a>
          </li>

          <li class="footer-nav-item">
            <a href="{% url 'iletisim' %}" class="footer-nav-link">Əlaqə</a>
          </li>

          <li class="footer-nav-item">
            <a href="#" class="footer-nav-link">Xəritə</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Əlaqə</h2>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <address class="content">
              {{ setting.adress }}
            </address>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="call-outline"></ion-icon>
            </div>

            <a href="tel:+{{ setting.phone }}" class="footer-nav-link">{{ setting.phone }}</a>
          </li>

          <li class="footer-nav-item flex">
            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <a href="mailto:{{ setting.email }}" class="footer-nav-link">{{ setting.email }}</a>
          </li>

        </ul>

        <ul class="footer-nav-list">

          <li class="footer-nav-item">
            <h2 class="nav-title">Follow Us</h2>
          </li>

          <li>
            <ul class="social-link">

              <li class="footer-nav-item">
                <a href="https://www.facebook.com/{{ setting.facebook }}" class="footer-nav-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.twitter.com/{{ setting.twitter}}" class="footer-nav-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.instagram.com/{{ setting.instagram }}" class="footer-nav-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
              </li>

              <li class="footer-nav-item">
                <a href="https://www.linkedin.com/{{ setting.linkedin }}" class="footer-nav-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>

    </div>

    <div class="footer-bottom">

      <div class="container">

        <img src="{% static 'images/payment.png' %}" alt="payment method" class="payment-img">

        <p class="copyright">
          Copyright &copy; <a href="#">{{setting.company}} |</a> Bütün hüquqlar qorunur.
        </p>

      </div>

    </div>
  </footer>