{% load static %}
<div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->

          <div class="testimonial">

            <h2 class="title">testimonial</h2>

            <div class="testimonial-card">

              <img src="{% static 'images/nesiphoto.jpeg'%}" alt="alan doe" class="testimonial-banner" width="80" height="80">

              <p class="testimonial-name">Nəsrəddin Vəlizadə</p>

              <p class="testimonial-title">Fullstack Web Developer</p>

              <img src="{% static 'images/icons/quotes.svg'%}" alt="quotation" class="quotation-img" width="26">

              <p class="testimonial-desc">
                Gördüyünüz website'ın yaradıcısı.
              </p>

            </div>

          </div>



          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="{% static 'images/cta-banner.jpg' %}" alt="summer collection" class="cta-banner">

            <a href="#" class="cta-content">

              <p class="discount">25% Endirim</p>

              <h2 class="cta-title">Yay kolleksiyasına</h2>

              <p class="cta-text">20₼ -dan başlayan qiymətlərlə</p>

              <button class="cta-btn">Alış-verişə başla</button>

            </a>

          </div>



          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Xidmətlərimiz</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Ümumdünya Çatdırılma</h3>
                  <p class="service-desc">150₼-dan yuxarı sifariş üçün</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Növbəti Gün çatdırılma</h3>
                  <p class="service-desc">Yalnız Azərbaycan Sifarişləri</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Ən yaxşı onlayn dəstək</h3>
                  <p class="service-desc">7/24</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Məhsulları Qaytarma</h3>
                  <p class="service-desc">Asan və Pulsuz Qayıdış</p>

                </div>

              </a>

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">30% pul səndə qalır</h3>
                  <p class="service-desc">150₼-dan yuxarı sifariş üçün</p>

                </div>

              </a>

            </div>

          </div>

        </div>

      </div>

    </div>
