{% extends 'base.html' %}
{% block head %}
<link rel="shortcut icon" href="{{ setting.icon.url }}" type="image/x-icon">
{% endblock %}
{% block title %}{{ categorydata.title }}{% endblock %}
{% block content %}

 <div class="product-main container "style="margin-bottom: 100px;margin-top: 70px">

            <h2 class="title"> "{{ categorydata.title }}" kategoriyasının məhsulları : </h2>

            <div class="product-grid">
              {% for product in products %}
              <div class="showcase">

                <div class="showcase-banner">

                  <img src="{{ product.image.url }}" alt="Mens Winter Leathers Jackets" width="300" height="300" class="product-img default">
                  <img src="{{ product.image.url }}" alt="Mens Winter Leathers Jackets" width="300" height="300" class="product-img hover">

                  <p class="showcase-badge">15%</p>

                  <div class="showcase-actions">

                    <button class="btn-action">
                      <ion-icon name="heart-outline"></ion-icon>
                    </button>

                    <a class="btn-action" href="/product/{{ product.id }}/{{ product.slug }}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </a>

                    <button class="btn-action">
                      <ion-icon name="repeat-outline"></ion-icon>
                    </button>

                    <a class="btn-action" href="/order/addtocart/{{ product.id }}">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </a>

                  </div>

                </div>

                <div class="showcase-content">

                  <a href="#" class="showcase-category">{{ product.category }}</a>

                  <a href="/product/{{ product.id }}/{{ product.slug }}">
                    <h3 class="showcase-title">{{ product.title }}</h3>
                  </a>

                  <div class="showcase-rating">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </div>

                  <div class="price-box">
                    <p class="price">{{ product.price }}</p>
                    <del>{{ product.price }}</del>
                  </div>

                </div>




              </div>
              {% empty %}
              <p class="showcase-title">Məhsul tapılmadı .. </p>
              {% endfor %}

            </div>

          </div>

        </div>

      </div>

    </div>





{% endblock %}